@model Eventool.Models.EventEntity

@{
    ViewData["Title"] = "Details";
    int placelft = (int)ViewData["freePlaces"];
}

<h1>@Html.DisplayNameFor(model => model.Name)</h1>

<div>
    <h4>Places left: @placelft</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
    </dl>
</div>
<div>
    @if (placelft > 0)
    {
        <a asp-action="Reserve" asp-route-id="@Model.Id">Reserve</a> 
    }

    <a asp-action="Index">Back to List</a>
</div>
